<%
	block[:content][:js_init] ||= "numberOfMonths: 1,
		showButtonPanel: true,
		buttonText: '<i class=\"fa fa-calendar-o\"></i>',
		prevText: '<i class=\"fa fa-chevron-left\"></i>',
		nextText: '<i class=\"fa fa-chevron-right\"></i>',
		dateFormat: \"#{block[:content][:js_format]}\",
		firstDay: 1,
		defaultDate: 1,
		beforeShow: function(input, inst) {
			var newclass = 'admin-form';
			var themeClass = $(this).parents('.admin-form').attr('class');
			var smartpikr = inst.dpDiv.parent();
			if (!smartpikr.hasClass(themeClass)) {
				inst.dpDiv.wrap('<div class=\"' + themeClass + '\"></div>');
			}
		}"
%>
/**
 * @desc инициализация функции
 */
var input_date__<%= id %>__init = function(){

	/**
	 * инициализиурем датапикер
	 **/
	$.datepicker.setDefaults({<%= block[:content][:language].html_safe %>});

	$('#<%= id %>')
			.datepicker({
				<%= block[:content][:js_init].html_safe %>
			})
			.on('change', function(){
				$(this).valid();
			})
			.on('click', function(){
				$(this).datepicker('show');
			});
};
input_date__<%= id %>__init();