<%
   caption = content[:caption]
   caption[:text] ||= ''

   block = content[:block]
   block[:content][:placeholder] ||= caption[:text]
   block[:content][:default_value] ||= ''

   value = eval("content[:model].#{block[:content][:value]}")
   value ||= block[:content][:default_value]

   id = "#{content[:model].class.to_s.underscore.downcase}__#{block[:content][:value]}"
%>

<%= content[:f].password_field 'hidden',
                               autocomplete: 'off',
                               class: 'gui-input',
                               placeholder: block[:content][:placeholder],
                               style: 'display: none;' %>

<% if content[:action] == 'edit' %>
	<div class="form-group">
		<label class="col-md-3 control-label" for="">
		</label>
		<div class="col-md-9">
			<div class="bs-component field">
				<a href="#" class="<%= id %>_show-password-field">Изменить пароль</a>
			</div>
		</div>
	</div>
<% end %>

<div class="form-group  <%= id %>_password-field" style="<%= 'display: none;' if content[:action] == 'edit' %>">

	<%= render_admin_block 'admin/_blocks/field_for_model/_label/', 'default', content, abs: true %>

	<div class="col-md-9">
		<div class="bs-component field">
			<!-- FIELD -->
			<%= content[:f].password_field block[:content][:value].to_sym,
			                               autocomplete: 'off',
			                               class: 'gui-input',
			                               value: value,
			                               id: id,
			                               placeholder: block[:content][:placeholder] %>

			<%= render_admin_block 'admin/_blocks/field_for_model/_tooltip/', 'default', block[:content], abs: true %>

			<% if block[:content][:help_text] && (content[:action] == 'edit' ) %>
				<!-- HELP TEXT -->
				<span class="help-block mt5 mbn">&nbsp;<i class="fa fa-info-circle"></i> <%= raw block[:content][:help_text] %> </span>
			<% end %>
		</div>
	</div>
</div>


<% if content[:action] == 'edit' %>

	<%= inline_js(render 'admin/_blocks/field_for_model/input/password/password.js.erb',
	                     id: id,
	                     content: content,
	                     block: block) %>

<% end %>